.leftMenuList {
    width: 100%;
  
    &__row {
      display: flex;
      justify-content: space-between;
      color: #919191;
      font-size: 14px;
    }
  
    &__title {
      text-transform: uppercase;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 20px 0;
    }
  }