@import "../../../scss/deps/vars";

.confirmModal {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 24px;
  }

  &__buttons {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 8px;
  }

  &__btn {
    @include light-block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px 25px;
    background: $blueColor;
    font-size: 18px;
    font-weight: 600;

    &.warn {
      background: $redColor;
    }
  }

}