@import "./global.scss";
@import "../deps/vars.scss";
@import "../deps/containers.scss";

body {
    margin: 0 auto;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    background: $grayColor;
    //padding: $calcMargin;
}

//.app {
//    height: 100vh;
//}
//
//.chat {
//    display: grid;
//    grid-template-columns: 25% 1fr 300px;
//    grid-gap: $calcMargin;
//
//    padding: $calcMargin;
//}
//
//.chat > * {
//
//}