@import "./global.scss";
@import "../deps/vars.scss";
@import "../deps/containers.scss";

body {
    margin: 0 auto;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.chat {
    display: grid;
    grid-template-columns: 25% 1fr 300px;
}

.chat > * {
    height: 100vh;
}