@import "../../../../scss/deps/vars.scss";

.chatInput {
    //position: relative;
    @include light-block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 18px;

        &.img {
            gap: 6px;
        }
    }

    &__input {
        width: 100%;
    }

    img {
        max-height: 50px;
    }
}

.inputReply {
    margin-bottom: 12px;
    padding: 8px 6px 8px 12px;
}