$blueColor : #3577EF;


.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 25px;
    border-radius: 3px;
    background: $blueColor;
    flex: 1 1 100%;
    cursor: pointer;
    transition: .1s;

    &:hover {
        background: #358EE0;
    }

    &.actions {
        flex: 0 0 25px;
    }
}