@import "../../scss/deps/vars.scss";
.Button {
    @include light-block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px 25px;
    background: $blueColor;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background: #4a73b6;
    }

    &.stretched {
        width: 100%;
    }
    &.small {
        padding: 8px 16px;
        font-size: 14px;
    }

    &.warn {
        background: $redColor;
    }
}