.uploadedImage {
  position: relative;

  &__image {
    max-height: 50px;
  }

  &__remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999;
  }
}