@import "../../scss/deps/vars";

.smallPopup {
  @include light-block(5px);

  width: 100px;
  height: 100px;
  background: #fff;
  position: absolute;
  bottom: 0;
  z-index: 999;
  transform: translate(-10%, -50%);
}