@import "../../../../scss/deps/vars.scss";

.chatTopMenu {
    width: 100%;
    
    &__row {
        @include light-block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid silver;
    }

    &__buttons {
        display : flex;
        align-items: center;
        gap : 4px;

        .clear {
            margin-left: 4px;
            color: #ccc;
            font-size: 28px;
        }
    }

    &__channelName {
        display: flex;
        font-size: 20px;
        font-weight: 700;
        color: #000;
    }

    &__widgets {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        width: 50%;
    }
}
