@import "../src/scss/deps/vars.scss";

$grayColor : #B5B5B5;
$darkColor : #25272A;
$lightColor : #fff;
$blueColor : #3577EF;

body {
    margin: 0 auto;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.app {
    height: 100vh;
    overflow: hidden;
    padding: $calcMargin;
}

.chat__app {
    height: 100%;
}

.chat {
    display: grid;
    grid-template-columns: 400px 1fr 300px;
    grid-gap: $calcMargin;
    height: 100%;
}

.chat > * {
    //height: 100vh;
}