@import "../../scss/deps/vars.scss";

.message__outer {
    padding: 6px 12px;

    &.selected {
        background: rgba(0,128,196, 0.9);
    }
}

.replyMessage {
    position: relative;
    width: 100%;
    margin-top: 6px;
    background: rgba(#3577EF, 0.1);
    border-left: 3px solid #3577EF;
    padding: 2px 2px 2px 12px;

    &__sender {
        font-size: 12px;
        color: #3577EF;
        font-weight: 600;
    }

    &__content {
        margin-top: 2px;
        font-size: 10px;
    }

    &__after {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}

.message {
    @include  light-block;
    margin: 0;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    background: #fff;
    padding: 10px;
    border-radius: 10px;

    &__col {
        width: 100%;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &.error {
        background: #f19c9c;
    }

    &__avatar {
        min-width: 24px;
        height: 24px;
        background: navy;
        border-radius: 3px;
        margin-right: 10px;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

    &__top {
        display: flex;
        gap: 6px;
        
    }

    &__dispatchTime {
        color: #8D8D8D;
    }

    &__user {
        font-weight: 700;
        color: #000;
    }

    &__text {
        width: 100%;
        margin-top: 4px;
        font-size: 13px;
        line-height: 20px;
    }

    img {
        max-width: 100%;
    }
}